@import '../../common/common';

.form-group {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.error {
    background-color: var(--color-danger);
    color: var(--color-text-inverse);
    border: 1px solid var(--color-danger-dark);
}

label {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

span.description {
    color: var(--color-text-muted);
    font-size: 80%;
    line-height: initial;
    width: 100%;
    white-space: pre-line;  // renders newline as <br />
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    box-shadow: none;
    height: 20px;

    &:focus {
        box-shadow: none;
    }

    & ~ .description {
        margin-left: 23px;
    }
}

input[type="text"] {
    width: 100%;
}
