@import '../../common/common';

.form-group {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.error {
    background-color: var(--color-danger);
    color: var(--color-text-inverse);
    border: 1px solid var(--color-danger-dark);
}

label {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

span.description {
    color: var(--color-text-muted);
    font-size: 80%;
    line-height: initial;
    width: 100%;
    white-space: pre-line;  // renders newline as <br />
}

label.checkbox-label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;

    .checkbox-input {
        width: 1.2em;
        height: 1.2em;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: 0.5em;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .name {
        flex: 1;
        line-height: 1.5;
    }

    .description {
        width: 100%;
        padding-left: calc(1.2em + 0.5em);
    }
}

input[type="text"] {
    width: 100%;
}
