services:
  rapidcopy:
    build: .
    image: rapidcopy:latest
    container_name: rapidcopy
    restart: unless-stopped
    ports:
      - "8800:8800"
    volumes:
      - ./config:/config
      - /mnt/media/TV_Downloads:/downloads/tv_shows
      - /mnt/MediaVaultV3/Movie_Downloads:/downloads/movies
      - /home/jemunos/.ssh:/home/rapidcopy/.ssh:ro
