@import '../../common/common';

#sidebar {
    .button {
        background-color: inherit;
        color: inherit;
        text-decoration: none;
        font-weight: bolder;
        display: block;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        border: none;
        outline: none;
        white-space: normal;
        float: none;
        cursor: default;
        user-select: none;

        &:active {
            background-color: var(--primary-color);
        }

        &.selected {
            background-color: var(--secondary-color);
            color: white;
            border-color: #6ac19e;

            img {
                filter: invert(1.0);
            }
        }

        &[disabled] {
            opacity: .65;
            background-color: inherit;
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
            margin-bottom: 2px;
            filter: var(--icon-filter);
        }
    }

    hr {
        margin-top: 3px;
        margin-bottom: 3px;
        border: 1px solid var(--header-dark-color);
    }

    .theme-toggle {
        background-color: inherit;
        color: inherit;
        display: block;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        border: none;
        outline: none;
        cursor: default;
        user-select: none;
        font-weight: bolder;

        &:active {
            background-color: var(--primary-color);
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
            margin-bottom: 2px;
            filter: var(--icon-filter);
        }
    }
}
