@import '../../common/common';

#sidebar {
    .button {
        background-color: inherit;
        color: var(--color-text-primary);
        text-decoration: none;
        font-weight: bolder;
        display: block;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        border: none;
        outline: none;
        white-space: normal;
        float: none;
        cursor: default;
        user-select: none;
        @include theme-transition;

        &:active {
            background-color: var(--color-accent-primary);
            color: var(--color-text-inverse);
        }

        &.selected {
            background-color: var(--color-accent-secondary);
            color: var(--color-text-inverse);
            border-color: var(--color-accent-secondary-dark);

            img {
                filter: invert(1.0);
            }
        }

        &[disabled] {
            opacity: .65;
            background-color: inherit;
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }

    hr {
        margin-top: 3px;
        margin-bottom: 3px;
        border: 1px solid var(--color-border);
    }

    .theme-toggle {
        &:hover {
            background-color: var(--color-bg-hover);
        }

        img {
            transition: transform 0.3s ease;
        }

        &:active img {
            transform: rotate(20deg);
        }
    }
}
