<div id="file-list">
    <div id="header">
        <div class="name sortable" (click)="onHeaderSort('name')">
            Filename
            <span class="sort-indicator" *ngIf="activeSortColumn === 'name'">{{sortAscending ? '▲' : '▼'}}</span>
        </div>
        <div class="status sortable" (click)="onHeaderSort('status')">
            Status
            <span class="sort-indicator" *ngIf="activeSortColumn === 'status'">▲</span>
        </div>
        <div class="speed sortable" (click)="onHeaderSort('speed')">
            Speed
            <span class="sort-indicator" *ngIf="activeSortColumn === 'speed'">▼</span>
        </div>
        <div class="eta sortable" (click)="onHeaderSort('eta')">
            ETA
            <span class="sort-indicator" *ngIf="activeSortColumn === 'eta'">▲</span>
        </div>
        <div class="size sortable" (click)="onHeaderSort('size')">
            Size
            <span class="sort-indicator" *ngIf="activeSortColumn === 'size'">{{sortAscending ? '▲' : '▼'}}</span>
        </div>
    </div>
    <div *ngFor="let file of files | async; trackBy: identify">
        <app-file
            [file]="file"
            [options]="options"
            (click)="onSelect(file)"
            (queueEvent)="onQueue($event)"
            (stopEvent)="onStop($event)"
            (extractEvent)="onExtract($event)"
            (deleteLocalEvent)="onDeleteLocal($event)"
            (deleteRemoteEvent)="onDeleteRemote($event)"
            (validateEvent)="onValidate($event)">
        </app-file>
    </div>
</div>
